/* --------- */
/* Variables */
/* --------- */

$logo : #F7BE81;
$menu : #6E6E6E;
$blanco : #fff;
$gris:  #ccc;
$fuente : arial;

/* ------------------------------- */
/* Anidamiento y Pseudo Selectores */
/* ------------------------------- */

*{
	margin: 0;
	padding: 0;
}
.contenedor{
	background: $menu;
	width: 100%;
	margin: auto;
	display: flex;
	align-items: center;
	.logo{
		padding: 1em;
		background: $logo;
		width: 400px;
		text-align: center;
		h1{
			font-family: $fuente;
			&:hover{
				color: $blanco;
			}
			&:before{
				content: "<-";
				display: inline-block;
			}
			&:after{
				content: "->";
				display: inline-block;
			}
		}
	}
	.menu{
		padding: 1em;
		width: calc(100% - 400px);
		background: #6E6E6E;
		ul{
			list-style-type: none;
			li{
				color: $blanco;
				display: inline-block;
				font-family: $fuente;
			}
		}
	}
}

/* ----- */
/* Mixin */
/* ----- */

@mixin principal($background, $color) {
	width: 900px;
	margin: 1em auto;
	background: $background;
	color: $color;
	padding: 1em;
}

/* ------ */
/* Extend */
/* ------ */

%title{
	text-align: center;
	font-size: 2em;
}

.principal-1{
	@include principal($gris,$blanco);
	@extend %title;
}

.principal-2{
	@include principal($logo,$gris);
	@extend %title;
}

.principal-3{
	@include principal($menu,$blanco);
	@extend %title;
}


